.ac-container {
    position: relative;;
}

.dd-menu {
    border: 1px solid var(--bs-border-color);
    padding: 0;
    width: 100%;
    margin-top: 0.25rem;
    position: absolute;
    border-radius: var(--bs-border-radius);
}

.ac-container .dropdown-item {
    cursor: default;
    padding: 0.25rem 0.5rem;
}

.ac-container .dropdown-item:first-of-type {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}

.ac-container .dropdown-item:last-of-type {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

.ac-container .dropdown-item:hover,
.ac-container .dropdown-item:focus {
    --bs-dropdown-link-hover-bg: var(--bs-primary);
    --bs-dropdown-link-hover-color: var(--bs-light);
}

.ac-container .dropdown-item:focus {
    outline: 0;
}

.ac-container .dropdown-item.selected {
    background-color: var(--bs-success);
    --bs-dropdown-link-color: var(--bs-light);
}

.ac-container .dropdown-item.selected:active {
    --bs-dropdown-link-active-color: var(--bs-light);
}